<h1 class="w-full text-center text-4xl font-bold my-10">Show Article Details</h1>

<div class="w-full flex flex-col items-center justify-center gap-2">
    <p class=""><span class="font-bold">ID:</span> <%= @article.id %></p>
    <p class=""><span class="font-bold">Title:</span> <%= @article.title %></p>
    <p class=""><span class="font-bold">Description:</span> <%= @article.description %></p>
</div>