<div class="h-full w-full pt-6 py-14 bg-[var(--secondary-color)]">
    <h1 class="w-full text-center text-6xl font-bold my-10 text-[var(--primary-color)]">Sign Up</h1>

    <%= render 'shared/errors', obj: @user %>
    <%= render 'form' %>

    <div class="w-full flex items-center justify-center gap-2 my-6">
        <p class="text-xs font-medium px-2 py-1 bg-blue-600 text-white cursor-pointer rounded"><%= link_to "Back to Articles", articles_path %></p>
    </div>
</div>