<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1 class="w-full text-center text-4xl font-bold my-10 mb-8">This is About Page</h1>
    <p class="w-fit mx-auto cursor-pointer font-medium px-4 py-2 bg-blue-600 text-white rounded-md mb-8"><%= link_to "Go to Articles Page", articles_path %></p>
    <nav class="flex items-center justify-center">
        <ul class="flex space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <main>
        <!-- Add your content here -->
    </main>
    <footer class="flex items-center justify-center">
        <p>&copy; 2022 Our Homepage. All rights reserved.</p>
    </footer>
</body>
</html>
       