<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <main class="w-full h-full gap-5 overflow-hidden">
        <h1 class="w-full text-center text-4xl font-bold my-10 mb-8">This is the Contact Page</h1>
        <p class="w-fit mx-auto cursor-pointer font-medium px-4 py-2 bg-blue-600 text-white rounded-md mb-8"><%= link_to "Go to Articles Page", articles_path %></p>
    </main>
</body>
</html>