<div class="h-full w-full pt-6 py-14 bg-[var(--secondary-color)]">
    <h1 class="w-full text-center text-6xl font-bold my-10 text-[var(--primary-color)]">Show Category Details</h1>

    <div class="w-full max-w-5xl mx-auto flex flex-col items-start justify-center border border-gray-400 rounded-lg overflow-hidden shadow-md">
        <h1 class="w-full text-center text-4xl font-bold my-5 text-[var(--primary-red)]"><%= @category.name %></h1>
    </div>
</div>