<% flash.each_with_index do |(name, msg), idx| %>
    <div id="flash_div_#{idx}" class="absolute z-40 top-0 left-0 w-full min-w-screen h-screen flex items-center justify-center bg-[rgba(0,0,0,0.7)]">
      <p class="relative <%= name == 'alert' ? 'bg-red-200' : 'bg-green-200' %> border-gray-400 shadow-2xl w-[500px] px-5 py-5  <%= name == 'alert' ? 'text-red-700' : 'text-green-700' %> rounded font-medium text-lg flex gap-3 justify-start items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-7 w-7" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg>
        <%= msg %>
        <button class="absolute -top-3 -right-3 <%= name == 'alert' ? 'bg-red-200' : 'bg-green-200' %> p-2 rounded-full shadow-xl" onclick="document.getElementById('flash_div_#{idx}').remove()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-3 h-3" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </button>
      </p>
    </div>
<% end %>